* {
  font-family: 'Roboto', sans-serif;
}
.page {
  background: #ffffff;
  font-size: 16px;
  padding: 0 15px;
}
.page_content {
  max-width: 960px;
  margin: 0 auto;
}
.logo {
  font-size: 17px;
}
.header {
  padding: 24px;
  border-bottom: 1px solid #dee2e6;
}
.divider {
  margin: 0px;
  height: 1px;
  background: #dee2e6;
}
.nav {
  display: block;
}
.nav_link {
  color: #343a40;
  text-decoration: none;
}
.nav_link:hover {
  text-decoration: underline;
  color: blue;
}
.nav_vertical > .nav_link {
  display: block;
}
.nav_inline > .nav_link:not(:last-child) {
  margin-right: 24px;
}
.nav_vertical > .nav_link:not(:last-child) {
  margin-bottom: 12px;
}
.header_nav_right {
  margin-left: auto;
  width: fit-content;
}
.page_block:not(:last-child) {
  margin-bottom: 80px;
}
.footer {
  padding: 24px 0;
  border-top: 1px solid #dee2e6;
}
.footer_copyright {
  margin-top: 12px;
  font-size: 14px;
  color: ##6c757d;
  display: block;
}
.footer_title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  color: ##212529;
}
.hero_title {
  font-size: 56px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 12px;
}
.hero_text {
  font-size: 20px;
  color: #ffffff;
  max-width: 750px;
}
.hero {
  background: #343a40;
  border-radius: 24px;
  padding: 80px;
}
.button {
  text-decoration: none;
  color: #ffffff;
  background: #007bff;
  display: inline-block;
  max-width: 248px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  padding: 9px 20px;
}
.button:hover {
  background: #208cff;
  cursor: pointer;
}
.preview {
  padding: 24px;
  border: 1px solid #dee2e6;
  border-radius: 24px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.preview_header > span:not(:last-of-type) {
  margin-right: 12px;
}

.preview_date {
  color: #6c757d;
  font-size: 16px;
}

.preview_category {
  color: ;
  font-size: 16px;
}

.preview *:not(:last-child) {
  margin-bottom: 12px;
}

.preview_title {
  display: block;
  color: #343a40;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
}

.preview_description {
  color: #212529;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.preview_category_1 {
  color: #007bff;
}

.preview_category_2 {
  color: #198754;
}

.preview_category_3 {
  color: #ff0000;
}

.preview_category_4 {
  color: #ff7a00;
}

.list_title {
  color: #212529;
  font-weight: 500;
  font-size: 32px;
  line-height: 34px;
  margin: 0;
}

.list_header {
  padding-bottom: 12px;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 40px;
}

.category_button {
  font-size: 16px;
  color: #6c757d;
  border: 1px solid #6c757d;
  border-radius: 40px;
  padding: 10px 16px;
  line-height: 100%;
}

.category_button:hover {
  background: #6c757d0a;
}

.list_aside {
  margin-left: 40px;
}

.category_list {
  text-align: right;
}

.list > *:not(:last-child) {
  margin-bottom: 40px;
}

.post {
  padding-bottom: 12px;
  border-bottom: 1px solid #dee2e6;
}

.post > *:not(:last-child) {
  margin-bottom: 12px;
}

.post_title {
  display: block;
  font-weight: 500;
  font-size: 27px;
  line-height: 100%;
  color: #212529;
}

.post_info {
  color: #999999;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.post_author {
  color: #0050ff;
}

.post_description {
  color: #212529;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.list_aside > *:not(:last-child) {
  margin-bottom: 24px;
}

.about {
  background: #f8f9fa;
  padding: 24px;
  margin: 0;
}

.about_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #212529;
}

.about_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #212529;
  margin: 0;
}

.link_list {
  padding: 24px;
}

.link_title {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #212529;
}

.link_item {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #007bff;
  display: block;
}

.link_item:hover {
  text-decoration: underline;
}

.link_list > *:not(:last-child) {
  margin-bottom: 12px;
}
