* {
  font-family: 'Roboto', sans-serif;
}
:root {
  --space-12: 12px;
  --space-16: 16px;
  --space-24: 24px;
  --space-36: 36px;

  --size-14: 14px;
  --size-16: 16px;
  --size-20: 20px;

  --color-border: #dee2e6;

  --border-radius: 12px;

  --color-title: #5a5a5a;
  --color-text: #343a40;
}

/* ======================== */

.page {
  background: #ffffff;
  padding: 0 15px;
  display: flex;
  justify-content: center;
}
.page_content {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
/* ============================ */
.logo {
  font-size: 17px;
  color: #ffffff;
  background-color: #563d7c;
  width: 24px;
  height: 24px;
  border-radius: calc(var(--border-radius) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  padding: var(--space-24) 0;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-24);
}

.nav_vertical {
  gap: var(--space-16);
  flex-direction: column;
}

.nav_link {
  color: var(--color-text);
  text-decoration: none;
}
.nav_link:hover {
  text-decoration: underline;
  color: blue;
}

.footer {
  padding: var(--space-24) 0;
  border-top: 1px solid #dee2e6;
  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  margin-top: var(--space-24);
  font-size: 14px;
  color: var(--color-text);
  display: block;
}

.footer_title {
  display: block;
  margin-bottom: var(--space-24);
  font-size: 20px;
  color: var(--color-title);
}

.hero {
  display: flex;
  align-items: center;
  gap: 80px;
}

.hero_image {
  width: 500px;
  height: 500px;
  border-radius: 12px;
}

.hero_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
}

.hero_title {
  font-size: 36px;
  color: var(--color-title);
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.8px;
}

.hero_text {
  color: var(--color-text);
  font-size: var(--size-16);
  font-weight: 400;
  line-height: 170%;
}

.hero_button {
  color: #ffffff;
  background-color: #6c757d;
  width: 100%;
  max-width: 120px;
}

.featured {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--space-36);
  padding-bottom: var(--space-36);
  border-bottom: 1px solid var(--color-border);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  width: calc(100% / 3);
}

.card_image {
  width: 64px;
  height: 64px;
  border-radius: var(--border-radius);
}

.card_title {
  font-size: 32px;
  font-weight: 500;
  color: var(--color-title);
}

.card_text {
  font-weight: 400;
  font-size: var(--size-16);
  color: var(--color-text);
  line-height: 170%;
}

.button {
  display: inline-block;
  padding: var(--space-12) var(--space-16);
  font-size: var(--size-16);
  text-decoration: none;
  border-radius: calc(var(--border-radius) / 2);
}

.featured_link {
  color: #0d6efd;
}

.featured_link:hover {
  opacity: 0.7;
}

.button:hover {
  opacity: 0.7;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #563d7c;
  padding: var(--space-24);
  border-radius: var(--border-radius);
}

.form_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
  width: 100%;
  max-width: 240px;
}

.form_title {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

.form_button {
  background-color: #ffffff;
  color: var(--color-text);
  width: 100%;
  font-size: var(--size-20);
  text-align: center;
  padding: var(--size-16) 0;
}
